<div class='ingreso'>
<h1 id='user'>Como Ingresar</h1>
<p id='vi'>hdfjhfdhfjdfdfhdsjfdhfdahfjdfhjadsfhdsfjasdfashdfjdafadfdjsf<br>sdhfgdsahfagdsjafd
sdfjfajfdshfkjdfhsdjfhdjfdsjfdsfjdhfdjfhsdjfhdjfhdsfjdhfjdshfd<br>
       dfjdhfjdhfkjdfhdjfhdjfdhjfdhfdjfhdjfdhfjdhf</p>
<div id='video' class='well'><embed  width="800" height="420" type="application/x-shockwave-flash"  src="http://v5.tinypic.com/player.swf?file=zlats0&s=5"></div>
</div>