<%= simple_form_for @unity, :html => { :remote => true, :class => 'form-horizontal' } do |f| %>


 <div class="responsive">

      <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.lazybox.close()">&times;</button>
           <h3>Unidades</h3>
      </div>

      <div class="modal-body">
      	  <div class="control-group">
              <label class="control-label" for="inputName">Descripción</label>
              <div class="controls">
                   <%= f.input :name, :label => false, :required => true,
                       :input_html => {:class => 'span3' } %>
              </div>
          </div>
      	  <div class="control-group">
              <label class="control-label" for="inputName">Sigla</label>
              <div class="controls">
                   <%= f.input :initials, :label => false, :required => true,
                       :input_html => {:class => 'span3' } %>
              </div>
          </div>
      </div>

      <div id='fo' class="modal-footer">
           <a href="#" class="btn btn-inverse" onclick="$.lazybox.close()">Cerrar</a>
           <%= f.button :submit, "Guardar", :class => 'btn-primary' %>
      </div>
 </div>

<% end %>
