<h1><%= image_tag("archive.png", :size => "60x60") %></h1>

<div id='creditos' class="row">
    <div class="span6">
    	<div class="well well-large">
	    	<p>
		      <strong>Proyecto Realizado por: </strong><br><br>

		    	 -Doctor León Arturo Otero Botero<br>
		    	 <b>Subdirector Centro de Formación en Diseño, Confección y Moda</b><br><br>
		    	 -Gloria Cecilia Escobar<br>
		    	 <b>Coordinadora Taller de Confección</b><br><br>
		    	 -Jaime Humberto Velasquez<br>
		    	 <b>Homólogo de Sistemas</b><br><br>
		    	 <img id='wil' class="img-circle" src="assets/pablito.jpg"  alt="Generic placeholder image"><br>
		    	 -Juan Pablo G.<br>
		    	 <div id='cris'>
		    	 <img id='wil' class="img-circle" src="assets/cristian.jpg"  alt="Generic placeholder image"><br>
		    	 -Cristian Jiménez<br>
		    	 </div>
		    	 <div id='willi'>
		    	 <img id='wil' class="img-circle" src="assets/willi.jpg"  alt="Generic placeholder image"><br>
		    	 -William Betancur.
		    	 </div><br>
		    	 <b>Analistas y Desarrolladores de Sistemas de Información<b><br><br>

		    	 <%= link_to 'Producto SENA, Centro de Formación en Diseño, Confección y Moda', 'http://senadisenoconfeccionymoda.blogspot.com/' %> <br>
		    	 Regional Antioquia, Itaguí- Calatrava <br>
				 © 2013
	    	</p> 
	    	<p>
	    	  <button class="btn-small btn-success pull-right" onclick="$.lazybox.close()">Cerrar</button>
	    	</p>
        </div>

    </div>
</div>
