<div id='admin' class="page-header">
 <h3>Promedios</h3>
</div>
<br>
<div id='tab' class="well">

   <table  class="table table-striped">
     <thead>
       <tr>
         <th>Maestra</th>
         <th>Descripción</th>
       </tr>
     </thead>

     <tbody>
        <tr>
            <td><%= link_to "Trazado", donations_path %></td>
            <td>Donaciones</td>
        </tr>

        <tr>
            <td><%= link_to "Confeccion", productions_path %></td>
            <td>Producciones</td>
        </tr>
        
     </tbody>
   </table>
</div>