div id='admin' class="page-header">
 <h3>Inventario</h3>
</div>
<br>
<div id='tab' class="well">

   <table  class="table table-striped">
     <thead>
       <tr>
         <th>Maestra</th>
         <th>Descripción</th>
       </tr>
     </thead>

     <tbody>
        <tr>
            <td><img src="assets/bodega.png", width='25'><%= link_to "Entradas", entrances_path %></td>
            <td>Entradas</td>
        </tr>

        <tr>
            <td><img src="assets/almacen.png", width='25'><%= link_to "Almacen", :receipt_headers %></td>
            <td>Almacen</td>
        </tr>
        
     </tbody>
   </table>
</div>