<%- model_class = Procedure -%>
<div class='procedures'>
 <div class="page-header">
   <h1>Procesos</h1>
   <img id='lazyimm' src="assets/logo_sena.png">
 </div>

 <table class="table table-striped table-bordered table-condensed table-hover">
   <thead>
     <tr> 
         
     </tr>
       </thead>
         <tbody>
            <%= render @procedures %>
         </tbody>
       <tfoot>
   </tfoot>
 </table>
 <div id='fo' class="form-actions">
 <%= link_to 'Nuevo Proceso', new_production_order_procedure_path(@production_order), :remote => true, :class => 'btn btn-primary' %>
  <a href="#" class="btn btn-inverse" onclick="$.lazybox.close()">Cerrar</a>
</div>