<%- model_class = Regional -%>
<div class="page-header">
  <h1>Regional <%= @regional.name %> %></h1>
</div>

<div class='regional'>
	<p>
	  <b>Director:</b>
	  <%= @regional.director %>
	</p>

	<p>
	  <b>Phone:</b>
	  <%= @regional.phone %>
	</p>

	<p>
	  <b>Ip:</b>
	  <%= @regional.ip %>
	</p>
</div>
